<div id="menu-player">
    <ul id="onglets">
        <li><a id="onglet-politic" onclick="changeOnglet('politic')">Politique</a></li>
        <li><a id="onglet-economic" onclick="changeOnglet('economic')">Economique</a></li>
        <li><a id="onglet-diplomacy" onclick="changeOnglet('diplomacy')">Diplomatie</a></li>
        <li><a id="onglet-military" onclick="changeOnglet('military')">Militaire</a></li>
        <li><a id="onglet-technology" onclick="changeOnglet('technology')">Technologie</a></li>
    </ul>
</div>